<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
	      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Student Management</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">Navbar</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{students}">Student management <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Features</a>
		      </li>
		     
		    </ul>
		  </div>	
		</nav>
		<div class="container mt-5">
		    
		    <div class="card shadow p-4">

		        <h2 class="text-center mb-4">Add Student</h2>

		        <form th:action="@{/students/edit/{id}(id=${student.id})}" th:object="${student}" method="post">

		            <div class="mb-3">
		                <label class="form-label">Enter First Name</label>
		                <input type="text" class="form-control"
		                       name="firstName" id="firstName"
		                       placeholder="Enter First Name"
							   th:field="*{firstName}">
		            </div>

		            <div class="mb-3">
		                <label class="form-label">Enter Last Name</label>
		                <input type="text" class="form-control"
		                       name="lastName" id="lastName"
		                       placeholder="Enter Last Name"
							   th:field="*{lastName}">
		            </div>

		            <div class="mb-3">
		                <label class="form-label">Enter Email</label>
		                <input type="email" class="form-control"
		                       name="email" id="email"
		                       placeholder="Enter Email"
							   th:field="*{email}">
		            </div>

		            <div class="d-grid">
		                <button type="submit" class="btn btn-primary">
		                    Submit
		                </button>
		            </div>

		        </form>

		    </div>

		</div>

</body>
</html>