<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
	      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Student Management</title>
</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Navbar</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" th:href="@{students}">Student management <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Features</a>
	      </li>
	     
	    </ul>
	  </div>	
	</nav>
  
	<div class="container">
		<h1 class="text-center">Student List</h1>
	
			
	<div class="col-lg-3">
		<a th:href=@{students/new} class="btn btn-primary btn-sm mb-">Add Student</a>
	</div>
	<table class = "table table-striped table-bordered">
		
		<thead>
	    <tr>
	        <th>FirstName</th>
	        <th>LastName</th> 	
	        <th>Email</th>
	        <th>Action</th>
	    </tr>
	    </thead>
	    <tbody>
	        <tr th:each="student:${students}">
				<td th:text="${student.firstName}"></td>
				<td th:text="${student.lastName}"></td>
				<td th:text="${student.email}"></td>
				<td><a th:href="@{students/edit/{id}(id=${student.id})}" class="btn btn-info">Update</a>
				<a th:href="@{students/{id}(id=${student.id})}" class="btn btn-danger">Update</a>
				</td>
			</tr>
	       
	    </tbody>
	 
	    
	</table>
<div>
</body>
</html>